AWS_ACCOUNT_ID= your_aws_acc_id_here
AWS_ACCESS_KEY_ID=your_aws_access_key_id_her
AWS_SECRET_ACCESS_KEY=your_aws_secret_acess_key_here
AWS_DEFAULT_REGION=ap-south
GROQ_API_KEY=your_groq_api_key_here
BEDROCK_KNOWLEDGE_BASE_ID=your_bedrock_knowledge_base_id_here 
S3_BUCKET_NAME=your_s3_bucket_name_here
